* {
  margin: 0px;
  padding: 0px;
}

.App {
  text-align: center;
}

.centerContent {
  display: flex;
  justify-content: center;
}

.part-bg {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}